/* 
* =================================== 
* Mobile Style
/ -----------------------------------
/ mobile-first approach
* ===================================
* 00-config/style/02-mobile.css
* =================================== 
*/

body {
  display: flex;
  font-family: 'Roboto', sans-serif;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
  min-height: 100vh;
  background-image: url('https://dn.gooko.org/vue/card/00-config/assets/images/background.png');
  background-color: var(--primary-bg);
  background-size: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

article {
  background-image: unset;
  background-position: center center;
  background-attachment: fixed;
}

/* 
* =================================== 
* 03-organism/YoutubeVideoPlayer.js
* =================================== 
*/

.video-wrapper,
.background-video {
  display: none;
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 aspect ratio (9 / 16 = 0.5625) */
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--video-overlay-color);
}

.video-iframe,
.background-video {
  position: absolute;
  border: unset;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

button,
input,
select,
textarea {
  font: inherit;
}

/* 
* =================================== 
* 03-organism/BusinessCard.js
* =================================== 
*/

.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 7vw;
  background-color: var(--primary-bg);
  border-radius: 16px;
  position: relative;
  background-clip: padding-box;
  text-align: center;
  color: var(--text-color);
  border: 1px solid #ffffff24;
}

/* 
- =================================== 
- 02-molecules/ProfileImage.js
- =================================== 
*/

.profile-image {
  border-radius: 50%;
  overflow: hidden;
  width: 275px;
  height: 275px;
  position: relative;
}

.profile-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.profile-username {
  text-transform: uppercase;
  font-size: 4vw;
  letter-spacing: 2px;
  margin-top: 3.5rem;
}

/* 
- =================================== 
- 02-molecules/ProfileTitle.js
- =================================== 
*/

.profile-user-handle {
  font-size: 3vw;
  font-weight: 100;
  color: var(--text-secondary);
}

/* 
- =================================== 
- 02-molecules/ProfileActions.js
- =================================== 
*/

.profile-actions {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-actions .btn--primary a {
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 5vw 6vw;
  text-transform: uppercase;
}

.btn {
  border: 0;
  background-color: transparent;
  padding: 0;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  line-height: 1;
  transition: 0.15s ease;
}

.btn--primary {
  border-radius: 99em;
  letter-spacing: 2px;
  padding: 33px 35px;
  text-transform: uppercase;
  background-color: var(--accent-color);
  background-image: linear-gradient(135deg, #5587ff, var(--accent-color));
  color: var(--text-color);
}

.btn--icon {
  transition: .8s;
  font-size: 22px;
  height: 62px;
  width: 62px;
  margin: 0 10px;
  border-radius: 50%;
  border: 3px solid var(--secondary-bg);
  color: var(--text-secondary);
}

.btn--icon i {
  transition: .8s;
  font-size: 1.25em;
  color: var(--link-color);
}

/* 
- =================================== 
- 02-molecules/ProfileLinks.js
- ===================================
*/

.profile-links {
  margin-top: 2.5rem;
}

.link {
  text-decoration: none;
  color: var(--link-color);
  margin: 0 0.9rem;
  font-size: 28px;
}

.link i {
  transition: .8s;
  font-size: 1.3em;
}

/* 
- =================================== 
- 01-atoms/Ribbons.js
- ===================================
*/

.corner-ribbons {
  opacity: 0.1;
  transition: 1.5s;
}

.corner-ribbons .cr {
  font-weight: 700;
  width: 400px;
  padding: 16px;
  position: absolute;
  text-align: center;
  color: #f0f0f0;
  letter-spacing: 0.5em;
  z-index: 9999;
}

.corner-ribbons .cr-sticky {
  position: fixed;
}

/* Positions */

.corner-ribbons .cr-bottom {
  bottom: 60px;
}

.corner-ribbons .cr-left {
  left: -100px;
}

/* Rotations */

.corner-ribbons .cr-top.cr-right,
.corner-ribbons .cr-bottom.cr-left {
  transform: rotate(45deg);
}

/* Colors */

.corner-ribbons .cr-green {
  background-color: #00b15c;
}
