/* 
* =================================== 
* Desktop Style
/ -----------------------------------
/ secondary / minor file 
* ===================================
* 00-config/style/03-desktop.css
* =================================== 
*/

@media (min-width: 1024px) {
  body {
    background-image: unset;
    transform: scale(1);
  }
  article {
    background-image: url('https://dn.gooko.org/vue/card/00-config/assets/images/background.png');
  }

/* 
* =================================== 
* 03-organism/BusinessCard.js
* =================================== 
*/

  .profile {
    transition: 1.5s;
    opacity: .5;
    padding: 3rem;
  }

  .profile-image {
    width: 175px;
    height: 175px;
  }

  .profile:hover {
    opacity: 1;
    border: 1px solid #ffffff54;
    transform: scale(1.05);
  }

  .profile .btn--primary {
    transition: 1s;
    filter: grayscale(1);
    font-size: 12px;
    padding: 0 20px;
  }

  .profile:hover .btn--primary {
    filter: grayscale(0.5);
  }

  .profile .btn--primary:hover {
    filter: grayscale(0);
    transform: scale(1.05);
  }

  .corner-ribbons:hover {
    opacity: 0.8;
  }

  /* 
  * =================================== 
  * 03-organism/YoutubeVideoPlayer.js
  * =================================== 
  */

  .video-wrapper,
  .background-video {
    display: block;
  }
}
