/* 
 ? =============================================== 
 ? 02-molecules/profile-action/profile-action.css
 ? ===============================================
*/

.block-action {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 
 ? -------------- 
 ? - Desktop
 ? --------------
*/

@media (min-width: 1024px) {
  .block-action {
    margin-top: 1.5rem;
  }
}
